body {
  font-family: 'Oswald', 'Open Sans', sans-serif; /* Estilo para las fuentes */
}
/* Inicio modificacion de imagen y navbar */
.hero-img {
  height: 100%;
  width: 100%;
}

.navbar {
  background-color: #660066;
}

.yo-title h3 {
  font-size: 1.7rem;
  font-weight: 600;
  font-family: 'Open Sans';
  color: #373A3C;
}

.yo-text p {
  font-size: 1.05rem;
  font-weight: 400;
  font-family: 'Open Sans';
}

.border-b {
  border-bottom: 1px solid #000;
  width: 10%;
  margin-left: 45%;
}

.navbar-brand {
  font-size: 3rem;
  font-weight: 700;
  font-family: 'Oswald';
}

.navbar-toggler {
  font-size: 2rem;
}

.navbar-dark .navbar-toggler {
  border-color: #777;
}

@media (max-width: 576px) {
  .hero-img {
height: 507px;                        /* Aqui intentando hacer responsiva la imagen */
width: auto;
background-position: center;
background-size: cover;
align-content: center;
  }
}

@media (max-width: 576px) {
  .hero {
background-position: center;
background-size: cover;
align-content: center;
  }
}
/* Cierre modificacion imagen y navbar */
/* Inicio modificacion carousel */
.carousel-indicators .active {
  opacity: 1;
  background: black;
}

.carousel-item {
  padding-bottom: 2.5rem;
}

.carousel-indicators li {
  width: 12px;
  height: 12px;
  margin: 1px;
  border-radius: 10px;
  display: inline-block;
  text-indent: -999px;
  border: 1px solid #fff;
  background-color: #ccc;
  border-color: #999;
}

.work {
  color: #660066;
}

.carousel-item h5 {
  font-size: 1.25rem;
  font-weight: 600;
  font-family: 'Oswald';
}

.carousel-item h6 {
  font-size: 1rem;
  font-weight: 300;
  font-family: 'Open Sans';
}

@media (max-width: 576px) {
  .display-4{
    font-size: 2rem;
  }
}
/* Cierre modificacion carousel */
/* Inicio modificacion main */
main {
  background-color: #660066;
}

.border-blank {
  border-bottom: 1px solid #fff;
  width: 10%;
  margin-left: 45%;
}

.card-title {
  font-family: 'Oswald';
  font-weight: 400;
}

.card-text {
  font-size: 1rem;
  font-weight: 300;
  font-family: 'Open Sans';
}

.card {
  border: 0;
}
/* Cierre modificacion main */
/* Inicio modificacion contacto */
.text-contact {
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Open Sans';
}

#contact {
  height: 523px;
  width: 100%;
}
/* Cierre modificacon contacto */
